<div id="homepage">
    <div id="profile-section" class="homepage-section">
        <app-profile-strip></app-profile-strip>
    </div>
    <div id="sidebar" class="homepage-section">
        <app-hp-friends-list></app-hp-friends-list>
    </div>
    <div id="send-tweet" class="homepage-section">
        <app-send-tweet></app-send-tweet>
    </div>
    <div id="feed-section" class="homepage-section">
        <h2 id="feed-title">Feed</h2>
        <app-feed></app-feed>
    </div>
    <div id="search-users" class="homepage-section">
        <app-search-users></app-search-users>
    </div>
    <div id="search-tweets" class="homepage-section">
        <app-search-tweets></app-search-tweets>
    </div>
</div>